@font-face {
	font-family: "PyiDaungSu1";
	src: url("Pyidaungsu-Book-1.8.3_Regular.ttf");
}
@font-face {
	font-family: "PyiDaungSu2";
	src: url("Pyidaungsu-1.8.3_Regular.ttf");
}
@font-face {
	font-family: "PyiDaungSu3";
	src: url("Pyidaungsu-2.5.3_Numbers.ttf");
}
@font-face {
	font-family: "PyiDaungSu4";
	src: url("Pyidaungsu-2.5.3_Regular.ttf");
}
