.pos .order-scroller {
    height: 320px;
}
span#shortcut_tips_btn {
	display: none;
}
.pos .leftpane .pads {
    border-top: solid 3px transparent;
}
.pos .categories {
    position: relative;
    border-bottom: solid 3px transparent;
}